* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {

  color: white;
}
.uppercase {
  text-transform: uppercase;
}
header {
  height: 80px;
  line-height: 80px;

}
footer {
  min-height: 40px;
  line-height: 40px;
  font-size: 12px;
}
header,
footer {
  background: grey;
  width: 100%;
  color: #414344;
}
h1 {
  margin-bottom: 40px;
  font-size: 30px;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#password {
  color: black;
  transition: color .5s;
  display: inline-block;
  width: 100%;
  height: 100%;
}
#password:active {
  color: lightgreen;
}
main {
  background: black;
  flex-grow: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container p:first-of-type {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 50px;
}
p:last-of-type {
  border: 3px solid lightgreen;
  width: 250px;
  height: 35px;
  margin: 0 auto;
  color: grey;
  line-height: 30px;
  margin-bottom: 30px;
}

footer h3 {
  text-transform: capitalize;
}
